# Local Databases
*.sqlite3

# Temp files
*~

# Python build and test artifacts
*.pyc
__pycache__
.mypy_cache
.coverage
/htmlcov/
/dist/
/test/dist/
/*.egg-info
/*.egg

# Archives
*.zip
*.tar

#IDE Specific
/.idea/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
