container_commands:
  01_install_poetry:
    command: "curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python"
    ignoreErrors: false
    leader_only: false

  02_install_environment:
    command: "/home/ec2-user/.poetry/bin/poetry install | /root/.poetry/bin/poetry install"
    ignoreErrors: false
    leader_only: false

  03_apply_database_migrations:
    command: "python manage.py migrate --settings project.settings.production"
    ignoreErrors: false
    leader_only: true

  04_collect_static_content:
    command: "python manage.py collectstatic --noinput --settings project.settings.production"
    ignoreErrors: false
    leader_only: true